# dependencies
node_modules

# logs
yarn-error.log
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
build

# Secret environment variables
.env

# ide stuff
.vscode
.directory

# AWS lambda build
lambda.zip

.DS_Store
.Rhistory

